body {
    font-family: Impact;
    color: black;
}
h1 {
    color: white; text-align: center;
}

table {
    border-collapse: collapse;
    padding: 8px;
}

th, td {
    border: 1px solid white;
}
thead th {
    width: 25%;
}